
<!-- Header -->
    <header class="header" style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Test App</h1>
  <div style="display: flex; align-items: center;">
    <span class="greeting-text" style="font-weight: normal; font-size: 0.9rem; margin-right: 8px;">Hello, {{ username }}</span>
    <button class="logout-btn" (click)="logout()" mat-icon-button aria-label="Logout">
      <mat-icon style="color: white;">logout</mat-icon>
    </button>
  </div>
</header>

    <!-- Breadcrumb -->
    <div class="breadcrumb">
      <a href="#" (click)="goHome(); $event.preventDefault()">Home</a> / <span>Detail</span>
    </div>

<div class="detail-container">
    <h2>Alert Report</h2>
  
   <div class="filters">
  <div class="date-filter-group">
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" (dateChange)="onDateChange()">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="month"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" (dateChange)="onDateChange()">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 startView="month"></mat-datepicker>
    </mat-form-field>
  </div>
</div>

  
  <table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="data.length > 0">
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let row"> {{ row.status }} </td>
  </ng-container>

  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef> Datetime </th>
    <td mat-cell *matCellDef="let row"> {{ row.dateTimeString }} </td>
  </ng-container>

  <ng-container matColumnDef="remark">
    <th mat-header-cell *matHeaderCellDef> Remark </th>
    <td mat-cell *matCellDef="let row"> {{ row.remark }} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let row"> {{ row.durationString }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['status', 'datetime', 'remark', 'duration']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['status', 'datetime', 'remark', 'duration'];"></tr>
</table>



    <p *ngIf="data.length === 0" class="empty">No data found for selected date range.</p>
  
    <mat-paginator
      *ngIf="total > pageSize"
      [length]="total"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  